[Desktop Entry]
Name=file-permission-tool
Name[zh_CN]=一键清除只读不可更改权限
Name[zh_TW]=一鍵清除只讀不可更改許可權
Comment=Manage file permissions and attributes
Exec=/opt/apps/xiaoq-tools/file-permission-tool %F
Icon=/usr/share/icons/file-permission-tool.png
Terminal=true
Type=Application
Categories=Utility;System;
X-Deepin-Vendor=user-custom
Keywords=permission;file;attribute;
MimeType=inode/directory;inode/file;application/octet-stream;text/plain;
Actions=ContextMenu;
[Desktop Action ContextMenu]
Name=右键菜单支持
Name[zh_TW]=一鍵清除只讀不可更改許可權
